// Цвета
$primary-color: #458afb;
$bg-color: white;
$primary-hover-color: #5696ff;
$text-main-color: #0d2839;
$text-grey: #86939c;

$sucsess-color: #9ecb45;
$error-color: #fe6845;

// Размеры
$sidebar-width: 140px;
$header-width: 72px;
$user-avatar-width: 112px;


// Отступы
$offset-2: var(--offset-2);
$offset-4: var(--offset-4);
$offset-8: var(--offset-8);
$offset-12: var(--offset-12);
$offset-16: var(--offset-16);
$offset-20: var(--offset-20);
$offset-24: var(--offset-24);
$offset-28: var(--offset-28);
$offset-32: var(--offset-32);
$offset-40: var(--offset-40);
$offset-48: var(--offset-48);
$offset-64: var(--offset-64);
$offset-128: var(--offset-128);